<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUILDYOURDREAM</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    
</head>
<body> 
    <div class="header">
        <h1>BUILD.YOUR.DREAM</h1>
        <a href="#" class="button">POST PROPERTY</a>
      </div>
      
      <div class="topnav">
        <a href="#">BUY</a>
        <a href="#">SELL</a>
        <a href="#">RENT</a>
        <a href="#">HELP</a>

      </div>
      



      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'building.jpg'%}">
            <img src="{% static 'building.jpg'%}" alt="Cinque Terre" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'building.jpg'%}">
            <img src="{% static 'building.jpg'%}" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'building.jpg'%}">
            <img src="{% static 'building.jpg'%}" alt="Northern Lights" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'building.jpg'%}">
            <img src="{% static 'building.jpg'%}" alt="Mountains" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'building.jpg'%}">
            <img src="{% static 'building.jpg'%}" alt="Cinque Terre" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'building.jpg'%}">
            <img src="{% static 'building.jpg'%}" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'building.jpg'%}">
            <img src="{% static 'building.jpg'%}" alt="Northern Lights" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'building.jpg'%}">
            <img src="{% static 'building.jpg'%}" alt="Mountains" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'building.jpg'%}">
            <img src="{% static 'building.jpg'%}" alt="Cinque Terre" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'building.jpg'%}">
            <img src="{% static 'building.jpg'%}" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'building.jpg'%}">
            <img src="{% static 'building.jpg'%}" alt="Northern Lights" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'building.jpg'%}">
            <img src="{% static 'building.jpg'%}" alt="Mountains" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      <div class="clearfix"></div>
 
      <div class="footer">
          <p>COPYRIGHT Reserved BY WAIWAI</p>
      </div>



</body>
</html>